@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobile Sales Tool</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Gain access to a suite of sales tools </h2>
        <p>
            For internal and illustrative use only. 
            The above is only a summary of the product and/or service. 
            Please see and/or provide customer with rate plan or other applicable brochure for all terms and conditions of service. 
            ©2018 Ilumicast Intellectual Property. All rights reserved. 
            Ilumicast and Gudetama logo are registered trademarks of Ilumicast Intellectual Property and/or Ilumicast affiliated companies. 
            All other marks are the property of their respective owners.

        </p>
    </div>
    <div class="col-md-4">
        <h2>Rate Plan Calculator</h2>
        <p>Add and configure the devices you need for your plan..</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Calculator (Internet Usage)</h2>
        <p>Estimate your monthly data usage.</p>
        <p>
            Keep in mind that these examples are just estimates based on typical file sizes. Your usage may vary. **
            1MB = 1,000KB approximately
            1GB = 1,000MB approximately
            1TB = 1,000GB approximately
        </p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
